.body{
  position: absolute;

}
.nav {
  display: flex;
  justify-content:space-between;
  width: 550px;
  height: 65px;
  left: 0px;
  top: 0px;
  position: relative;
  left: 50%;
  right: 50%;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav--intro{
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.nav--logo {
  height: 26.218345642089844px;
  width: 31.306400299072266px;
}

.nav--heading{
  width: 140.79px;
  height: 24px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}

.nav--course-name {
  width: 189px;
  height: 14px;
  margin-right: 37px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
}

/* 
form

*/

.form {
  position: relative;
  left: 50%;
  padding: 30px;
}

.form__input__div {
  display: flex;
  gap: 17px;
}

.form--input {
  width: 230px;
  height: 35px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
}

.form--button {
  width: 477px;
  height: 40px;
  color: #FFFFFF;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  border: none;
  margin-top: 15px;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.1em;
}

.meme {
  position:relative;
  width: 477px;
  left: 50%;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}